<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<!--<nav>
	    		<ul>
				<li><a href="/">HOME</a></li>
	        		<li><a href="/"PROJECTS">PROJECTS</a></li>
	        		<li><a href="/BLOG">BLOG</a></li>
	    		</ul>
			</nav>-->
			<div class="topnav">
			<a class="active" href="#home">HOME</a>
  			<a href="/">ABOUT</a>
  			<a href="/">PROJECTS</a>
  			<a href="/">RECIPES</a>
			<a href="/">BLOG</a>
			<a href="/">TRAVELS</a>
			</div>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:jarellefboac@gmail.com">email</a></li>
				<li><a href="https://www.linkedin.com/in/jarelleboac">linkedin</a></li>
				</ul>
			</footer>
		</body>
	</html>
